<ion-content class="contenido">
    <div class="conexion">
          <div>
            <ion-icon name="bluetooth" ></ion-icon> BT-350
          </div>
          <div>   
            Estado   
            <ion-icon name="alert-circle"></ion-icon>
          </div>
    </div>
      <div class="boton">
        <ion-button class ="test" expand="block" (click)="setOpen(true)">REALIZAR TEST</ion-button>
        <ion-modal [isOpen]="isModalOpen">
          <ng-template>
            <ion-header>
              <ion-toolbar>
                <ion-title>Encuesta</ion-title>
                <ion-buttons slot="end">
                  <ion-button (click)="setOpen(false)">Cancelar</ion-button>
                </ion-buttons>
              </ion-toolbar>
            </ion-header>
            <ion-content class="ion-padding">
              <p>
                <ion-list>
                  <ion-item>
                    <ion-label>¿Cómo te sientes el día de hoy?</ion-label>
                    <ion-select placeholder="Seleccionar" okText="Seleccionar" cancelText="Cancelar">
                      <ion-select-option value="mal">Mal</ion-select-option>
                      <ion-select-option value="cansado">Cansado</ion-select-option>
                      <ion-select-option value="regular">Regular</ion-select-option>
                      <ion-select-option value="bien">Bien</ion-select-option>
                      <ion-select-option value="excelente">Excelente</ion-select-option>
                    </ion-select>
                  </ion-item>
                  <ion-item>
                    <ion-label>¿Cuántas horas dormiste?</ion-label>
                    <ion-select placeholder="Seleccionar" okText="Seleccionar" cancelText="Cancelar">
                      <ion-select-option value="dos">0-2 horas</ion-select-option>
                      <ion-select-option value="cuatro">2-4 horas</ion-select-option>
                      <ion-select-option value="seis">4-6 horas</ion-select-option>
                      <ion-select-option value="ocho">6-8 horas</ion-select-option>
                      <ion-select-option value="diez">Más de 8 horas</ion-select-option>
                    </ion-select>
                  </ion-item>
                </ion-list>
              </p>
                <br><br>
                <div class="enviar">
                <ion-button class="enviar">Enviar</ion-button>
                </div>
            </ion-content>
          </ng-template>
        </ion-modal>
      </div>
</ion-content>
 