.content{
    
}
.card-list{
    
}

.list-item{
    
}

.card{
    width: 100%;
    background-color: rgba(73, 73, 73, 0.3);
}

.card-head{

}

.card-content{

}

.test-list{
    padding: 0;
    margin: 0;
}

.test-list > ion-item > ion-label{
    
}



