.content{
    
}
.card-list{
    
}

.list-item{
    
}

.card{
    width: 100%;
    background-color: rgba(73, 73, 73, 0.3);
}



.card-content{

}

.test-list{
    padding: 0;
    margin: 0;
}

 ion-item.result-item {
    --border-style:none;
    --background:rgba(73, 73, 73, 0.3);
}



