
<ion-content scrollY="false">
  <div class="bg">

    <div class="elems">
      <form [formGroup]="ngForm">

        <ion-input [(ngModel)]="usuario" placeholder="Matricula" class="inputs" inputmode="text" mode="ios"  formControlName="user" type="text"></ion-input>
        <ion-input placeholder="Contraseña" class="inputs"></ion-input>
      
      </form>

    </div>

  </div>

 
</ion-content>

<div class="footer">

  <ion-button class="button" color="medium" (click)="login()">

    <ion-label> Iniciar Sesion</ion-label>
  </ion-button>
</div>