
<!-- <ion-content scrollY="false">
  
  <div class="logo">
    <img src="../../../assets/direcsys.svg" alt="" srcset="" height="100px">
  </div>
  
  <div class="bg">
    <div class="elems">
      <div class="form-fields">
        <form [formGroup]="ngForm">
          <ion-input placeholder="Matricula" class="inputs" ></ion-input>
          <ion-input placeholder="Contraseña" class="inputs"></ion-input>  
        </form>
      </div>
    </div>
  </div>


  <div class="footer">
    <ion-button class="button" color="medium" (click)="login()">
      <ion-label> Iniciar Sesion</ion-label>
    </ion-button>
  </div>
  
</ion-content> -->

<ion-content scrollY="false">
  <div class="bg-imagen">

    <div class="header">
      <img src="../../../assets/direcsys.svg" alt="" srcset="" id="logo">
    </div>

  
    <div class="bg-oscuro">
      <div class="form-fields">
        <form [formGroup]="validations_form" (ngSubmit)="logIn(validations_form.value)">
          <div class="form-header">
            <h1>¡Bienvenido!</h1>
            <p>Inicia sesión en tu cuenta</p>
          </div>
          <div class="form-inputs">
            <ion-input placeholder="Correo" class="inputs" formControlName="email" required=""></ion-input>

            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.email">
                <div class="error-message"
                  *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>

            <ion-input placeholder="Contraseña" class="inputs" type="password" formControlName="password" required></ion-input>  
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.password">
                <div class="error-message"
                  *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>
        
            <ion-label class="forgot-pass"><a href="" class="hyper">¿Olvidaste tu contraseña?</a></ion-label>
          </div>

          <div class="form-buttons">
            <ion-button class="buttons"  type="submit" [disabled]="!validations_form.valid">
              <ion-label>Iniciar sesión</ion-label>
            </ion-button>
          </div>
          <label class="error-message">{{errorMsg}}</label>
        </form>
      </div>
    </div>
  

  
    <div class="footer">
      <!-- <ion-button class="buttons" color="light" (click)="login()">
        <ion-label>Iniciar sesión</ion-label>
      </ion-button>
      <ion-button class="buttons" color="light">
        <ion-label>Registrarme</ion-label>
      </ion-button>
      <ion-button class="buttons" id="help" color="warning">
        <ion-label>?</ion-label>
      </ion-button> -->
      <p class="register-text">No tienes una cuenta <a href="/register" class="hyper">Regístrate</a></p>
    </div>
  </div>

</ion-content>
