
<!-- <ion-content scrollY="false">
  
  <div class="logo">
    <img src="../../../assets/direcsys.svg" alt="" srcset="" height="100px">
  </div>
  
  <div class="bg">
    <div class="elems">
      <div class="form-fields">
        <form [formGroup]="ngForm">
          <ion-input placeholder="Matricula" class="inputs" ></ion-input>
          <ion-input placeholder="Contraseña" class="inputs"></ion-input>  
        </form>
      </div>
    </div>
  </div>


  <div class="footer">
    <ion-button class="button" color="medium" (click)="login()">
      <ion-label> Iniciar Sesion</ion-label>
    </ion-button>
  </div>
  
</ion-content> -->

<ion-content scrollY="false">
  <div class="bg-imagen">

    <div class="header">
      <img src="../../../assets/direcsys.svg" alt="" srcset="" id="logo">
    </div>

  
    <div class="bg-oscuro">
      <div class="form-fields">
        <form >
          <div class="form-header">
            <h1>¡Bienvenido!</h1>
            <p>Inicia sesión en tu cuenta</p>
          </div>
          <div class="form-inputs">
            <ion-input placeholder="Correo" class="inputs" [(ngModel)]="correo" name="usuario"></ion-input>
            <ion-input placeholder="Contraseña" class="inputs" type="password"></ion-input>  
            <ion-label class="forgot-pass"><a href="" class="hyper">¿Olvidaste tu contraseña?</a></ion-label>
          </div>
          <div class="form-buttons">
            <ion-button class="buttons" (click)="login()">
              <ion-label>Iniciar sesión</ion-label>
            </ion-button>
          </div>
        </form>
      </div>
    </div>
  

  
    <div class="footer">
      <!-- <ion-button class="buttons" color="light" (click)="login()">
        <ion-label>Iniciar sesión</ion-label>
      </ion-button>
      <ion-button class="buttons" color="light" href="/register">
        <ion-label>Registrarme</ion-label>
      </ion-button>
      <ion-button class="buttons" id="help" color="warning" href="">
        <ion-label>?</ion-label>
      </ion-button> -->
      <p class="register-text">No tienes una cuenta <a href="/register" class="hyper">Regístrate</a></p>
    </div>
  </div>

</ion-content>
