.card{
    width: 75%;
    margin: 10px auto;
}

.ion-card-subtitles{
    display: flex;
    justify-content: space-between;
}

.profile-image{
    width: 50%;
    margin:0px auto 10px auto;
}
.dato{
    margin: 10px 0;
}

.botones{
    display: flex;
    flex-direction: row;
}